.footer{
  display: flex;
  flex-direction: row;
  width: calc((1184/1280)*100%);
  margin-top: 90px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 24px;
  position: relative;
  max-width: 1184px;
  align-items: center;
  justify-content: space-between;
  background-color: #2A2C2F;
}

@media screen and (max-width: 768px) {
  .footer{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-self: start;
    margin-left: 16px;
    margin-top: 64px;
    max-width: 186px;
}

}